<?xml version="1.0" encoding="utf-8"?><!--
/*
* Copyright 2013 - 2022 Anael Mobilia and contributors
 * 
 * This file is part of NextINpact-Unofficial.
 * 
 * NextINpact-Unofficial is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 * 
 * NextINpact-Unofficial is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 * 
 * You should have received a copy of the GNU General Public License
 * along with NextINpact-Unofficial. If not, see <http://www.gnu.org/licenses/>
 */
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pcinpact">

    <!-- com.pcinpact est le nom historique. Il n'est pas possible de le modifier sans publier une nouvelle application -->

    <!-- Gestion des tablettes -->
    <supports-screens
        android:largeScreens="true"
        android:xlargeScreens="true" />

    <!-- Téléchargements des articles & images -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- Télécharger les images uniquement en WiFi (option) -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true">
        <activity
            android:name=".ListeArticlesActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:theme="@style/NextInpactTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ArticleActivity"
            android:parentActivityName=".ListeArticlesActivity"
            android:screenOrientation="user"
            android:theme="@style/NextInpactTheme" />
        <activity
            android:name=".CommentairesActivity"
            android:parentActivityName=".ListeArticlesActivity"
            android:screenOrientation="user"
            android:theme="@style/NextInpactTheme" />
        <activity
            android:name=".OptionsActivity"
            android:parentActivityName=".ListeArticlesActivity"
            android:screenOrientation="user"
            android:theme="@style/NextInpactTheme" />
        <activity
            android:name=".ImageActivity"
            android:screenOrientation="user"
            android:theme="@style/NextInpactTheme" />
        <activity
            android:name=".AboutActivity"
            android:parentActivityName=".ListeArticlesActivity"
            android:screenOrientation="user"
            android:theme="@style/NextInpactTheme" />
        <activity
            android:name=".DebugActivity"
            android:parentActivityName=".ListeArticlesActivity"
            android:screenOrientation="user"
            android:theme="@style/NextInpactTheme" />
    </application>
</manifest>