name: Build
on: [ pull_request, push ]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the code
        uses: actions/checkout@v3
      - name: Update JVM
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '17'
      - name: Build the app
        run: |
          wget https://services.gradle.org/distributions/gradle-9.1.0-bin.zip
          unzip gradle-9.1.0-bin.zip
          export GRADLE_HOME=$PWD/gradle-9.1.0
          export PATH=$GRADLE_HOME/bin:$PATH
          gradle -v
          gradle build --warning-mode all